POSTGRES_DB=xplay
POSTGRES_USER=xplay
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

FRONTEND_PORT=3000
BACKEND_PORT=3001
FRONTEND_ORIGIN=http://localhost:3000
NUXT_PUBLIC_API_BASE=http://localhost:3001/api
